/*
Fencing Time
By Daniel Berke
(C) Copyright by Daniel Berke 
*/

/* Colors:
    #D2B48C = Tan
    #695A46 = Dark Tan 
    #FAFAD2 = LightGoldenrodYellow 
    #EEE8AA = PaleGoldenrod 
*/

body 
{
    background:         #B6B7BC;
    font-size:          1.0em;       
    font-family:        "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
    margin:             0;
    padding:            12px;
    color:              #696969;
}

/* ----------- Page layout ------------ */
.page 
{
    width:              100%;
    background-color:   #EEEEEE;
    margin:             0;
    padding:            3px;
    min-height:         420px;
}

.dePage 
{
    width:              100%;
    background-color:   #B6B7BC;
    margin:             0;
    padding:            3px;
    min-height:         420px;
}

.bgRed
{
    background:         #ff6666;
}

.bgGreen
{
    background:         #008800;
}

.bgBlue
{
    background:         #2222ff;
}

.bgYellow
{
    background:         #eeee88;
}

/* ----------- Round format ------------ */
.formatNumComps
{
    font-size:          1.2em;
    color:              black;   
    font-variant:       small-caps;
    margin-bottom:      8px;
}

.roundFormat
{
    width:              100%;
    background-color:   #FAFAD2;
    border:             1px solid #D2B48C;
    margin-bottom:      16px;
}

.roundNum
{
    padding-left:       8px;
    width:              100%;
    color:              black; 
    background-color:   #D2B48C;
    font-size:          1.2em;
    font-weight:        bold;
    font-variant:       small-caps;
}

.formatText
{
    margin:             4px 8px 4px 8px;
    font-size:          1.2em;
    color:              black;   
}

/* ----------- Data tables ------------ */
.dataTable
{
    color:              Black;
    border:             solid 1px #D2B48C; 
    width:              100%;
    border-collapse:    collapse;
    font-size:          1em;
    padding:            2px;
}

.headerRow
{
    background-color:   #D2B48C;
    font-weight:        bold;
}

.headerRow th
{
    text-align:         left;
}

.oddRow 
{
    background-color:   #FAFAD2;  
    vertical-align:     top;
}

.evenRow
{
    background-color:   #EEE8AA;
    vertical-align:     top;
}

.excludedRow
{
    background-color:   #444444;
    color:              #BBBBBB;
    vertical-align:     top;
}

.goldResultRow
{
    background-color:   #FFD700;
    vertical-align:     top;
}

.silverResultRow
{
    background-color:   #888888;
    color:              #FFFFFF;
    vertical-align:     top;
}

.bronzeResultRow
{
    background-color:   #A67D3D;
    color:              #FFFFFF;
    vertical-align:     top;
}

/* ----------- Table fields ------------ */
.checkedIn
{
    color:              green;
}

.scratched
{
    color:              red;
}

.teamMembers
{
    margin-left:        12px;
    color:              #666666;
    font-size:          0.8em;
}

/* ----------- Two-column tables ------------ */
.twoColumns
{
    width:              100%;
}

div .leftColumn
{
    padding-right:      1%;
    width:              50%; 
    float:              left; 
}

div .rightColumn
{
    padding-left:       1%;
    width:              100%; 
}

/* ----------- Three-column tables ------------ */
.threeColumns
{
    width:              100%;
}

div .firstColumn
{
    padding-right:      1%;
    width:              33%; 
    float:              left; 
}

div .secondColumn
{
    padding-left:       1%;
    padding-right:      1%;
    width:              33%; 
    float:              left; 
}

div .thirdColumn
{
    padding-left:       1%;
    width:              100%; 
}


/* ----------- Pool grids ------------ */
.pool
{
    color:              Black;
    border:             solid 1px #D2B48C; 
    border-collapse:    collapse;
    font-size:          1em;
}

.pool td
{
    padding:            1px 2px 1px 2px;
    border-right:       solid 1px #D2B48C;
    border-bottom:      solid 1px #D2B48C;
}

.poolStripTime
{
    font-size:          1.0em;
    font-weight:        bold;
    color:              blue;
}

/* -- Pool Rows -- */
.poolHeader
{
    background-color:   #D2B48C; 
    font-weight:        bold;
}

.poolOddRow 
{
    background-color:   #FAFAD2;
    vertical-align:     middle;
}

.poolEvenRow
{
    background-color:   #EEE8AA;
    vertical-align:     middle;
}

/* -- Pool Columns -- */
.poolNameCol
{
    padding-left:       2px;
}

.poolPosCol
{
    background-color:   #D2B48C; 
    font-weight:        bold;
    text-align:         center;
}

.poolSpacerCol
{
    background-color:   #D2B48C;
}

.poolResultCol
{
    text-align:         center;
}

/* -- Pool grid content -- */
.poolAffil
{
    color:              #666666;
    font-size:          0.8em;
}

.poolScoreFill
{
    background-color:   #695A46;
}

.poolWithdrawn
{
    background-color:   #AAAAAA;
}

.poolExcluded
{
    background-color:   #AAAAAA;
}

.poolNoShow
{
    background-color:   #AAAAAA;
}

.poolScoreVictory
{
    text-align:         center;
    background-color:   #88FF88;
}

.poolScoreDefeat
{
    text-align:         center;
    background-color:   #FF8888;
}

.poolRefsHeader
{
    font-size:          1.0em;
    font-weight:        bold;
}

.poolRefs
{
    color:              Blue;
}

/* ------------- Seeding styles ------------- */
.seedingAdvanced
{
    color:              #008800;
}
.seedingEliminated
{
    color:              #FF2222;
}

.tempResultsPromoted
{
    color:              #008800;
}
.tempResultsUncertain
{
    color:              #444444;
}
.tempResultsEliminated
{
    color:              #FF2222;
}


/* ----------- Elimination tableau ------------ */
.elimTableau
{
    color:              Black;
    background-color:   #FAFAD2;
    width:              100%;
    border-collapse:    collapse;
    font-size:          1em;
    padding:            2px;
}

.tableauAltRow
{
    background-color:   #EEE8AA;
}

.tableauColumnTitle
{
    text-align:         center;
    font-weight:        bold;
    background:         #D2B48C;
    font-size:          1em;
    line-height:        1.5em;
}

.tableauNameCell
{
    vertical-align:     bottom;
}

.tableauBorderRight
{
    border-right:       solid 2px #222222;
}

.tableauBorderLeft
{
    border-left:        solid 2px #222222;
}

.tableauBorderLeftRight
{
    border-left:        solid 2px #222222;
    border-right:       solid 2px #222222;
}

.tableauBorderBottom
{
    border-bottom:      solid 2px #222222;
}

.tableauBorderBottomRight
{
    border-bottom:      solid 2px #222222;
    border-right:       solid 2px #222222;
}

.tableauBorderBottomLeft
{
    border-bottom:      solid 2px #222222;
    border-left:        solid 2px #222222;
}

.tableauBorderBottomLeftRight
{
    border-bottom:      solid 2px #222222;
    border-left:        solid 2px #222222;
    border-right:       solid 2px #222222;
}

.tableauSeed
{
    font-weight:        bold;
    color:              Black;
}

.tableauCompName
{
    font-weight:        bold;
    color:              Blue;
}

.tableauCompRating
{
    color:              #666666;
    font-size:          0.8em;
}

.tableauCompAffil
{
    color:              #666666;
    font-size:          0.8em;
    vertical-align:     top;
}

.tableauReferee
{
    color:              #666666;
    font-size:          0.8em;
    vertical-align:     top;
}

/* ----------- Team match ------------ */
.teamName
{
    width:              100%;
    font-size:          3em;
    font-weight:        bold;
    text-align:         center;
    vertical-align:     middle;
    margin-bottom:      6px;
    background-color:   #FAFAD2;
    border:             solid 4px #A2845C; 
}

.teamTable
{
    color:              Black;
    border:             solid 1px #D2B48C; 
    width:              100%;
    border-collapse:    collapse;
    padding:            2px;
    table-layout:       fixed;
}

.teamTable td 
{
    border:             solid 1px #A2845C; 
    font-size:          2.25em;
    padding:            4px;
    vertical-align:     middle;
    text-align:         center;
}

.teamHeaderRow
{
    background-color:   #D2B48C;
    font-weight:        bold;
    font-size:          1.2em;
    padding:            4px;
    text-align:         center;
}

.teamFencer
{
    text-align:         left;
    overflow:           hidden; 
    white-space:        nowrap;    
    text-overflow:      clip;
}

.teamWinner
{
    width:              100%;
    font-size:          3em;
    font-weight:        bold;
    text-align:         center;
    vertical-align:     middle;
    margin-top:         6px;
    background-color:   #FAFAD2;
    border:             solid 4px #A2845C; 
}

/* ----------- Headers ------------ */
h1, h2, h3, h4, h5
{
    font-size:          1.5em;
    color:              #666666;
    font-variant:       small-caps;
    text-transform:     none;
    font-weight:        200;
    margin-bottom:      0;
}

h1 
{
    font-size:          1.6em;
}

h2 
{
    font-size:          1.5em;
    font-weight:        bold;
    margin-bottom:      6px;
}

h3 
{
    font-size:          1.2em;
    font-weight:        bold;
}

h4 
{
    font-size:          1.1em;
    font-weight:        bold;
}

h5 
{
    font-size:          1em;
    font-variant:       normal;
}

